<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="icon" href="/picture/me.ico?">
	<title>商品比较网站</title>
	<link rel="stylesheet" href="ui.css">
</head>

<body>
	<!-- 实现顶部导航栏功能 -->
	<div id="nav">
		<ul class="item">
			<li>
				<form id="home" action="/home" method="POST" style="display: inline;">
					<input type="hidden" name="username" value="<%= username %>">
					<a href="javascript:void(0);" onclick="document.getElementById('home').submit();">首页</a>
				</form>
			</li>
			<li>
				<form id="userAttach" action="/userAttach" method="POST" style="display: inline;">
					<input type="hidden" name="username" value="<%= username %>">
					<a href="javascript:void(0);" onclick="document.getElementById('userAttach').submit();">我的关注</a>
				</form>
			</li>
		</ul>
	</div>

	<div id="ui">
		<h1 style="color:white">欢迎, <%= username %>!</h1>
		<form action="../result" method="POST">
			<div class="form">
				<div class="item">
					<p>请输入要搜索的商品</p>
					<input placeholder="商品名字" name="product" type="text" color="white">
				</div>
			</div><br>
			<input type="hidden" name="username" value="<%= username %>">
			<button type="submit">搜索</button>
		</form>
	</div>

</body>

</html>