<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="icon" href="/picture/me.ico?">
	<title>商品价格图</title>
	<link rel="stylesheet" href="ui.css">
</head>

<body>
	<!-- 实现顶部导航栏功能 -->
	<div id="nav">
		<ul class="item">
			<li>
				<form id="home" action="/home" method="POST" style="display: inline;">
					<input type="hidden" name="username" value="<%= username %>">
					<a href="javascript:void(0);" onclick="document.getElementById('home').submit();">首页</a>
				</form>
			</li>
			<li>
				<form id="userAttach" action="/userAttach" method="POST" style="display: inline;">
					<input type="hidden" name="username" value="<%= username %>">
					<a href="javascript:void(0);" onclick="document.getElementById('userAttach').submit();">我的关注</a>
				</form>
			</li>
		</ul>
	</div>

	<div id="ui">
		<h1 style="color: white;">商品价格图: <%= product_name %>
		</h1> <!-- 显示商品名称 -->
		<canvas id="myChart""></canvas>
		<!-- 关注/取消关注按钮 -->
		<div id=" button-container">
			<% if (isAttached) { %>
				<!-- 如果已关注，显示取消关注按钮 -->
				<form action="/disattach" method="post">
					<input type="hidden" name="username" value="<%= username %>">
					<input type="hidden" name="pid" value="<%= pid %>">
					<button type="submit" id="btn">取消关注</button>
				</form>
				<% } else { %>
					<!-- 如果未关注，显示关注按钮 -->
					<form action="/attach" method="post">
						<input type="hidden" name="username" value="<%= username %>">
						<input type="hidden" name="pid" value="<%= pid %>">
						<button type="submit" id="btn">关注</button>
					</form>
					<% } %>
	</div>
	</div>

	<script src=" https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		// 获取后端传递的数据
		const dates = "<%=dates%>".split(','); // 确保正确传递后端数据
		const prices = "<%=prices%>".split(','); // 确保正确传递后端数据

		const ctx = document.getElementById('myChart').getContext('2d');
		const chart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: dates, // 使用后端传递的日期数据
				datasets: [{
					label: '价格变化曲线',
					backgroundColor: 'rgba(75, 192, 192, 0.2)',
					borderColor: 'rgba(75, 192, 192, 1)',
					data: prices, // 使用后端传递的价格数据
					fill: false,
					tension: 0.4
				}]
			},
			options: {
				scales: {
					x: {
						beginAtZero: false, // X轴从第一天开始
						ticks: {
							color: 'white' // 设置 X 轴刻度为白色
						}
					},
					y: {
						beginAtZero: false, // Y轴从零开始
						ticks: {
							color: 'white' // 设置 X 轴刻度为白色
						}
					}
				},
				plugins: {
					legend: {
						labels: {
							color: 'white' // 设置图例文字为白色
						}
					},
					tooltip: {
						enabled: true,
						mode: 'index',
						intersect: false
					}
				},
				hover: {
					mode: 'nearest',
					intersect: true
				}
			}
		});
	</script>
</body>

</html>